<div class="btn-group has-feedback has-clear">
<input class="form-control" type="text" class="form-control" 
[placeholder]="placeholder" [value]="initialValue" [(ngModel)]="inputValue">

<a 
id="searchclear" 
class="glyphicon glyphicon-remove-circle form-control-feedback form-control-clear" 
style="pointer-events:auto; text-decoration:none; cursor:pointer;"
(click)="clearValue()" *ngIf="inputValue">
</a>

</div>

