<!--<main>
  <h1>Hello from Angular App with Webpack</h1>

  <img src="../assets/images/angular.png">
 <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
</main>--> 
 
<span class="glyphicon glyphicon-refresh glyphicon-spin spinner" *ngIf="loading"></span>
<div>
    <nav class="navbar navbar-inverse bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand">{{pageTitle}}
               
            </a>
            <ul class="nav navbar-nav">
              
              
                    <li class="nav nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          FileTransfer
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
           
                  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                 <a [routerLink]="['/configs']">Search</a>
                  </li>
                   <li routerLinkActive="active">
                <a [routerLink]="['/configs', 0, 'edit']">Add New</a>
                </li>
                 <li routerLinkActive="active">
                <a [routerLink]="['/logs']">Search Logs</a>
                </li>
                              
         
        </div>
                    </li>
                   
            </ul>
            
             <ul class="nav navbar-nav">
              
              
                    <li class="nav nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Environment - {{env}}
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
           
                <li [ngClass]="{'active': env=='DEV'}" (click)="clicked($event,'DEV')"><a href="#">DEV</a></li>
                <li [ngClass]="{'active': env=='QA'}" (click)="clicked($event,'QA')"><a href="#">QA</a></li>
                <li [ngClass]="{'active': env=='UAT'}" (click)="clicked($event,'UAT')"><a href="#">UAT</a></li>
                 
        </div>
                    </li>
                   
            </ul>
            
         
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="authService.isLoggedIn()">
                    <a [routerLink]="['/login']">Welcome {{ authService.currentUser.userName }}</a>
                </li>
                <li *ngIf="!messageService.isDisplayed">
                    <a (click)="displayMessages()">Show Messages</a>
                </li>
                <li *ngIf="messageService.isDisplayed">
                    <a (click)="hideMessages()">Hide Messages</a>
                </li>
                <li *ngIf="!authService.isLoggedIn()">
                    <a [routerLink]="['/login']">Log In</a>
                </li>
                <li *ngIf="authService.isLoggedIn()">
                    <a (click)="logOut()">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="configList col-md-10">
                <router-outlet></router-outlet>
            </div>
            <div class="col-md-2">
                <router-outlet name="popup"></router-outlet>
            </div>
        </div>
        
      
        
    </div>
</div>