  <div class="alert alert-danger" *ngIf="errorMessage">
                <strong>{{errorMessage}}</strong>
        </div>

<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <!-- Filter the Products   -->
    <div class="panel-body">
        <div class="row">
             <div class="form-group">
            <div class="col-md-2 text-right searchBy"><strong>Search by:</strong></div>
            <div class="col-md-4 left-align">
                <!--<input type="text" [(ngModel)]="listFilter" />-->
                <input-debounce name="searchUser" initialValue="{{filteredValue}}" delay="500" placeholder="Type File Interface Name..." 
                (value)="updateStore();searchConfig($event)"></input-debounce>
            </div>
             </div>
           
            
            
        </div>
        <div class="row" *ngIf="filteredValue">
            <div class="col-md-6">
                <h3>Filtered by: {{filteredValue}} </h3>
            </div>
        </div>

        <!--<div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>-->
        
       

        <div class="table-responsive">
            <span class="glyphicon glyphicon-refresh glyphicon-spin spinner" *ngIf="loading"></span>
            <table class="table table-hover"
                   *ngIf="configs && configs.length">
                <thead>
                    <tr>
                       <!-- <th>
                            <button class="btn btn-primary"
                                (click)="toggleImage()">
                                {{showImage ? "Hide" : "Show"}} Image
                            </button>
                        </th>-->
                        <th>InterfaceName</th>
                        <th>Active</th>
                        <th>Cron Expression</th>
                        <!--<th>Destination Address</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let config of configs | paginate: { itemsPerPage: 10, currentPage: p }">
                        <!--<td>
                            <img *ngIf="showImage && product.imageUrl"
                                 [src]="product.imageUrl"
                                 [title]="product.interfaceName | uppercase"
                                 [style.width.px]="imageWidth" 
                                 [style.margin.px]="imageMargin">
                        </td>-->
                        <td><a [routerLink]="[config.id]" 
                               [queryParams]="{filterBy: listFilter, showImage: showImage}">
                            {{config.interfaceName}}
                            </a>
                        </td>
                        <td>{{ config.activeInd }}</td>
                        <td>{{ config.cronExpression }}</td>
                        <!--<td>{{ product.destinationAddress}}</td>-->
                       <!-- <td>
                            <ai-star [rating]="product.starRating">
                            </ai-star>
                       </td>-->
                       <td>
                            <a class="btn btn-primary" 
                               [routerLink]="[config.id, 'edit']" [queryParams]="{filterBy:filteredValue}">
                                Edit
                            </a>
                        </td>
                        
                         <!--<td>
                            <button class="btn btn-primary" (click)="reconfigure(product.id)">
                                Reconfigure
                            </button>
                        </td>-->
                        
                        <td>
                            <a class="btn btn-primary" 
                               [routerLink]="[config.id,'logs']">
                                View Logs
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
             <pagination-controls #pagination  *ngIf="configs && configs.length" (pageChange)="p = $event; updateStore();" ></pagination-controls>
        </div>
         <!-- <button (click)="increment()">Increment</button>
		<div>Current Count: {{ counter | async }}</div>
		<button (click)="decrement()">Decrement</button>

		<button (click)="reset()">Reset Counter</button>
  <div class="row">
      <div class="medium-8 medium-offset-2 columns">
        <h2 class="subheader"></h2>
        <ul>
          <li *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }">{{ item }}</li>
        </ul>
        
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>-->
    </div>
</div>
