<div class="panel-body">
    <form class="form-horizontal"
          novalidate
          #productForm="ngForm">
        <fieldset>
            <!--<legend>File Config Information</legend>-->
            <div class="form-group" 
                    [ngClass]="{'has-error': (interfaceNameVar.touched || 
                                              interfaceNameVar.dirty || config.id !== 0) && 
                                              !interfaceNameVar.valid }">
                <label class="col-md-2 control-label" 
                        for="interfaceNameId">Interface Name</label>

                <div class="col-md-8">
                    <input class="form-control" 
                            id="interfaceNameId" 
                            type="text" 
                            placeholder="Interface Name (required)"
                            required
                            minlength="5"
                            [(ngModel)] = config.interfaceName
                            name="interfaceName"
                            #interfaceNameVar="ngModel" />
                    <span class="help-block" *ngIf="(interfaceNameVar.touched ||
                                                     interfaceNameVar.dirty || config.id !== 0) &&
                                                     interfaceNameVar.errors">
                        <span *ngIf="interfaceNameVar.errors.required">
                            Interface name is required.
                        </span>
                        <span *ngIf="interfaceNameVar.errors.minlength">
                            Interface name must be at least five characters.
                        </span>
                    </span>
                </div>
            </div>
            
            <div class="form-group" 
                    [ngClass]="{'has-error': (sourceAddrVar.touched || 
                                              sourceAddrVar.dirty || config.id !== 0) && 
                                              !sourceAddrVar.valid }">
                <label class="col-md-2 control-label" for="sourceAddr">Source Address</label>

                <div class="col-md-8">
                    <input class="form-control" 
                            id="sourceAddrId" 
                            type="text" 
                            placeholder="Source Address (required)"
                            required
                            [(ngModel)] = config.sourceAddress
                            name="sourceAddr"
                            #sourceAddrVar="ngModel" />
                    <span class="help-block" *ngIf="(sourceAddrVar.touched ||
                                                     sourceAddrVar.dirty || config.id !== 0) &&
                                                     sourceAddrVar.errors">
                        <span *ngIf="sourceAddrVar.errors.required">
                            Source Address is required.
                        </span>
                    </span>
                </div>
            </div>
            
             <div class="form-group" 
                    [ngClass]="{'has-error': (destinationAddrVar.touched || 
                                              destinationAddrVar.dirty || config.id !== 0) && 
                                              !destinationAddrVar.valid }">
                <label class="col-md-2 control-label" for="destinationAddr">Destination Address</label>

                <div class="col-md-8">
                    <input class="form-control" 
                            id="destinationAddrId" 
                            type="text" 
                            placeholder="Destination Address (required)"
                            required
                            [(ngModel)] = config.destinationAddress
                            name="destinationAddr"
                            #destinationAddrVar="ngModel" />
                    <span class="help-block" *ngIf="(destinationAddrVar.touched ||
                                                     destinationAddrVar.dirty || config.id !== 0) &&
                                                     destinationAddrVar.errors">
                        <span *ngIf="destinationAddrVar.errors.required">
                            Destination Address is required.
                        </span>
                    </span>
                </div>
            </div>
            
             <div class="form-group" 
                    [ngClass]="{'has-error': (cronExpressionVar.touched || 
                                              cronExpressionVar.dirty || config.id !== 0) && 
                                              !cronExpressionVar.valid }">
                <label class="col-md-2 control-label" for="cronExpression">Cron Expression</label>

                <div class="col-md-8">
                    <input class="form-control" 
                            id="cronExpressionId" 
                            type="text" 
                            placeholder="Cron Expression (required)"
                            required
                            [(ngModel)] = config.cronExpression
                            name="cronExpression"
                            #cronExpressionVar="ngModel" />
                    <span class="help-block" *ngIf="(cronExpressionVar.touched ||
                                                     cronExpressionVar.dirty || config.id !== 0) &&
                                                     cronExpressionVar.errors">
                        <span *ngIf="cronExpressionVar.errors.required">
                            Cron Expression is required.
                        </span>
                    </span>
                </div>
            </div>
            
            <div class="form-group" 
                    [ngClass]="{'has-error': (activeIndVar.touched || 
                                              activeIndVar.dirty || config.id !== 0) && 
                                              !activeIndVar.valid }">
                <label class="col-md-2 control-label" for="activeInd">Active Ind</label>

                <div class="col-md-8">
                    <input class="custom-control-input" 
                            id="activeIndId" 
                            type="checkbox"                          
                            [(ngModel)] = config.activeInd
                            name="activeInd"
                            #activeIndVar="ngModel" />                 
                </div>
            </div>
            
            <div class="form-group" 
                    [ngClass]="{'has-error': (sourceArchiveAddrVar.touched || 
                                              sourceArchiveAddrVar.dirty || config.id !== 0) && 
                                              !sourceArchiveAddrVar.valid }">
                <label class="col-md-2 control-label" for="sourceArchiveAddress">Source Archive Address</label>

                <div class="col-md-8">
                    <input class="form-control" 
                            id="sourceArchiveAddressId" 
                            type="text" 
                            placeholder="Source Archive Address"                           
                            [(ngModel)] = config.sourceArchiveAddress
                            name="sourceArchiveAddress"
                            #sourceArchiveAddrVar="ngModel" />                    
                </div>
            </div>
            
            <div class="form-group" 
                    [ngClass]="{'has-error': (muleArchiveAddrVar.touched || 
                                              muleArchiveAddrVar.dirty || config.id !== 0) && 
                                              !muleArchiveAddrVar.valid }">
                <label class="col-md-2 control-label" for="muleArchiveAddr">Mule Archive Address</label>

                <div class="col-md-8">
                    <input class="form-control" 
                            id="muleArchiveAddrId" 
                            type="text" 
                            placeholder="Mule Archive Address"                           
                            [(ngModel)] = config.localArchiveAddress
                            name="muleArchiveAddr"
                            #muleArchiveAddrVar="ngModel" />                    
                </div>
            </div>
            
            <!--<div class="form-group" 
                    [ngClass]="{'has-error': (processMultipleFilesVar.touched || 
                                              processMultipleFilesVar.dirty || config.id !== 0) && 
                                              !processMultipleFilesVar.valid }">
                <label class="col-md-2 control-label" for="processMultipleFiles">Process Multiple Files</label>

                <div class="col-md-8">
                    <input class="custom-control-input" 
                            id="processMultipleFilesId" 
                            type="checkbox"  
                            [(ngModel)] = config.processMultipleFiles
                            name="processMultipleFiles"
                            #processMultipleFilesVar="ngModel" />                 
                </div>
            </div>-->
            
             <div class="form-group" 
                    [ngClass]="{'has-error': (regexFileNameFilterExpressionVar.touched || 
                                              regexFileNameFilterExpressionVar.dirty || config.id !== 0) && 
                                              !regexFileNameFilterExpressionVar.valid }">
                <label class="col-md-2 control-label" for="regexFileNameFilterExpression">File Filter Regex</label>

                <div class="col-md-8">
                    <input class="form-control" 
                            id="regexFileNameFilterExpressionId" 
                            type="text" 
                            placeholder="FileName Filter Regular Expression"                           
                            [(ngModel)] = config.regexFileNameFilterExpression
                            name="regexFileNameFilterExpression"
                            #regexFileNameFilterExpressionVar="ngModel" />                    
                </div>
            </div>
            
            <div class="form-group" 
                    [ngClass]="{'has-error': (compressFileBeforeTransferVar.touched || 
                                              compressFileBeforeTransferVar.dirty || config.id !== 0) && 
                                              !compressFileBeforeTransferVar.valid }">
                <label class="col-md-2 control-label" for="compressFileBeforeTransfer">Compress File Indicator</label>

                <div class="col-md-8">
                    <input class="custom-control-input" 
                            id="compressFileBeforeTransferId" 
                            type="checkbox"  
                            [(ngModel)] = config.compressFileBeforeTransfer
                            name="compressFileBeforeTransfer"
                            #compressFileBeforeTransferVar="ngModel" />                 
                </div>
            </div>
           
           <div class="form-group" 
                    [ngClass]="{'has-error': (renameFileSuffixPatternVar.touched || 
                                              renameFileSuffixPatternVar.dirty || config.id !== 0) && 
                                              !renameFileSuffixPatternVar.valid }">
                <label class="col-md-2 control-label" for="renameFileSuffixPattern">Rename File Suffix Pattern</label>

                <div class="col-md-8">
                    <input class="form-control" 
                            id="renameFileSuffixPatternId" 
                            type="text" 
                            placeholder="Rename File Suffix Pattern"                           
                            [(ngModel)] = config.renameFileSuffixPattern
                            name="renameFileSuffixPattern"
                            #renameFileSuffixPatternVar="ngModel" />                    
                </div>
            </div>
            
            <div class="form-group" 
                    [ngClass]="{'has-error': (emailacknowledgementRequiredVar.touched || 
                                              emailacknowledgementRequiredVar.dirty || config.id !== 0) && 
                                              !emailacknowledgementRequiredVar.valid }">
                <label class="col-md-2 control-label" for="emailacknowledgementRequired">Email Acknowledgement Required</label>

                <div class="col-md-8">
                    <input class="custom-control-input" 
                            id="emailacknowledgementRequiredId" 
                            type="checkbox"  
                            [(ngModel)] = config.emailacknowledgementRequired
                            name="emailacknowledgementRequired"
                            #emailacknowledgementRequiredVar="ngModel" />                 
                </div>
            </div>
            
            <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
        </fieldset>
    </form>
</div>