<div class="panel panel-primary" *ngIf="config">
    <div class="panel-heading" style="font-size:large">
        {{pageTitle + ": " + config.interfaceName}}
    </div>

    <div class="panel-body ">
        
         <div class="wizard">
              <a [ngClass]="{'active':(showFileConfigurationTab == true)}" (click)="toggleTab()">
               File Configuration 
            </a>
            <a [ngClass]="{'active': (showFileConfigurationTab == false)}" (click)="toggleTab()" *ngIf="containsEmailConfig==true">
               Email Configuration  
            </a>
                          
         </div>
         
          <div class="row" *ngIf="showFileConfigurationTab == false">
            <div class="col-md-6">
                 <div class="row">
                    <div class="col-md-3">To Address:</div>
                    <div class="col-md-6">{{emailInfo.toAddr}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">From Address:</div>
                    <div class="col-md-6">{{emailInfo.fromAddr}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">CC Address:</div>
                    <div class="col-md-6">{{emailInfo.ccAddr}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">BCC Address:</div>
                    <div class="col-md-6">{{emailInfo.bccAddr}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Subject:</div>
                    <div class="col-md-6">{{emailInfo.subject}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Body:</div>
                    <div class="col-md-6">{{emailInfo.body}}</div>
                </div>
               
            </div>

          </div>
      
         
        
        <div class="row" *ngIf="showFileConfigurationTab == true">
            <div class="col-md-6">
                 <div class="row">
                    <div class="col-md-3">Active Indicator:</div>
                    <div class="col-md-6">{{config.activeInd}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Source Address:</div>
                    <div class="col-md-6">{{config.sourceAddress}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Destination Address:</div>
                    <div class="col-md-6">{{config.destinationAddress}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Source Archive Address:</div>
                    <div class="col-md-6">{{config.sourceArchiveAddress}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Local Archive Address:</div>
                    <div class="col-md-6">{{config.localArchiveAddress}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Cron Expression:</div>
                    <div class="col-md-6">{{config.cronExpression}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Process Multiple Files:</div>
                    <div class="col-md-6">{{config.processMultipleFiles}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Regex FileName Filter Expression:</div>
                    <div class="col-md-6">{{config.regexFileNameFilterExpression}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Rename FileSuffix Pattern:</div>
                    <div class="col-md-6">{{config.renameFileSuffixPattern}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Compress File:</div>
                    <div class="col-md-6">{{config.compressFileBeforeTransfer}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Email Acknowledgement Requried:</div>
                    <div class="col-md-6">{{config.emailacknowledgementRequired}}</div>
                </div>
        
            </div>

       
        </div>
        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
    </div>

    <div class="panel-footer">
      
        <a class="btn btn-default"
           [routerLink]="['/configs']"
           queryParamsHandling="preserve">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <a class="btn btn-primary" style="width:80px;margin-left:10px" 
           [routerLink]="['edit']">
            Edit
        </a>
    </div>
</div>