<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <div class="panel-body">
        <div class="wizard">
            <a [routerLink]="['info']" routerLinkActive="active">
                File Configuration  
                
                <span [ngClass]="{'glyphicon glyphicon-exclamation-sign':
                                                      !isValid('info')}"></span>
            </a>
            <a [routerLink]="['tags']" routerLinkActive="active">
                Email Configuration 
             <span  [ngClass]="{'glyphicon glyphicon-exclamation-sign':
                                                      !isValid('tags')}"></span>
            </a>
        </div>

        <router-outlet></router-outlet>
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            type="button"
                            style="width:80px;margin-right:10px"
                            [disabled]="!isValid()"
                            (click)="saveProduct()">
                        Save
                    </button>
                </span>
                <span>
                    <!--<a class="btn btn-warning"
                        [routerLink]="['/configs']">
                        Cancel
                    </a>-->
                    <a class="btn btn-warning" (click)="back()">Cancel</a>
                </span>
                <span *ngIf="config.id !=0">
                    <a class="btn btn-danger"
                        (click)="deleteProduct()">
                        Delete
                    </a>
                </span>     
            </div>
        </div>
    </div>

    <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

</div>
