﻿<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        
        <div class="row"  >
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Senthil Chinraj</h3>

          
        </div>
    </div>
</div>